@page
@model ItemsAndOrdersManagementSystem.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4" >
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">User Name : </label>
                <span>@Model.User.Identity.Name</span>
            </div>

            <div class="form-group" id="itemDetailsContainer">
                <button type="button" id="addItemDetailButton" class="btn btn-primary col-md-4" style="margin-bottom: 10px;">Add Item Detail</button>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById('addItemDetailButton').addEventListener('click', function () {
            addNewItemDetailRow();
        });

        function addNewItemDetailRow() {
            var container = document.getElementById('itemDetailsContainer');
            var childLength = container.getElementsByClassName('col-md-8').length;
            var newRow = document.createElement('div');
            newRow.className = 'col-md-8';
            newRow.innerHTML = getNewItemDetailRowHtml(childLength);
            container.insertBefore(newRow, document.getElementById('addItemDetailButton'));
        }

        function getNewItemDetailRowHtml(index) {
            return `
                        <select name="NewItemDetailList[${index}]" class="form-control form-select">
                                    <option selected disabled value="">--Items--</option>
                        @foreach (var item in Model.ItemList)
                        {
                                                    <option value="@item.Value">@item.Text</option>
                        }
                        </select>`;
        }
    </script>
}
